.body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
} 

.header {
    background-color: #f9f9f9;
    height: 15%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px; 
}

.header p {
    margin: 0;
}

.main {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
}

p {
    color: #213547
}

.cards_menu {
    justify-content: space-around;
    padding: 1.2em 0;
    gap: 1%;
    display: flex;
    width: 75%;
    margin: auto;
    flex-wrap: wrap;
}

.card_button {
    height: 100px;
    width: 100px;
    margin: 1%;
}