.cards_menu {
    font-family: inherit;
    justify-content: center;
    padding: 1.2em 0;
    gap: 1%;
    display: flex;
    width: 75%;
    margin: auto;
    flex-wrap: wrap;
}

.card_button {
    font-family: inherit;
    height: 120px;
    width: 120px;
    display: block;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #7b7777;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.card_button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.gradient_box {
    width: 100%;
    background: linear-gradient(to bottom, #ff89406b, transparent);
}

.button {
    font-family: inherit;
    height: 40px;
    width: 124px;
    border: 1px solid #f28e37;
    border-radius: 12px;
    cursor: pointer;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.center_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Отступ между элементами */
}

.choose_language {
    font-size: 50px; /* Размер текста */
    margin-top: 5%;
}

.actions {
    display: flex;
    gap: 20px;
}

.translate_button,
.next_button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

.translate_button:hover,
.next_button:hover {
    background-color: #0056b3;
}

.container {
    width: 70px;
    height: 40px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    background-color: #f0f0f0;
}
  
.circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
  
.flag {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
  
.flagStrip {
    flex: 1;
}

.actionBTN {
    cursor: pointer;
}

.actionBTN:active {
    transform: translateY(2px);
}