.parent {
    width: 70%; 
    height: 35vh; 
    display: flex; 
    border: 1px solid black; 
    margin: auto;
}

.left {
    width: 80%;
    display: flex; 
    flex-direction: column; 
    border: 1px solid black; 
}

.right {
    width: 20%; 
    border: 1px solid black; 
    cursor: pointer;
}

.right:hover {
    background-color: #e7e5e5;
}

.top {
    height: 80%; 
    border: 1px solid black; 
}

.bottom {
    height: 20%; 
    border: 1px solid black; 
    cursor: pointer;
}

.bottom:hover {
    background-color: #e7e5e5;
}