.main {
    flex: 1; /* Основной контент занимает все доступное пространство */
}

.gradient_box {
    width: 100%;
    background: linear-gradient(to bottom, #ff89406b, transparent);
}

.button {
    font-family: inherit;
    height: 40px;
    width: 124px;
    border: 1px solid #f28e37;
    border-radius: 12px;
    cursor: pointer;
}